@charset "utf-8";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #333;
    font-family: 'NanumSquare';
    font-weight: 400;
} /* 여기 까지 초기 값 */

/* common */
.inner {
    
    width: 1440px;
    margin: 0 auto; 
  
}
section .title {
    margin-bottom: 40px;
}
section .title h3 {
    font-size: 50px;
}
section .title p {
    font-size: 20px;
}

/* header */
header {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
header .inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h1 {
    font-size: 20px;
} 
header .inner h1 a {}

header .inner nav {}
header .inner nav ul {
    display: flex;
    font-size: 18px;
}
header .inner nav ul li {}
header .inner  nav ul li a {
    padding-left: 100px;
}
/* .main_visual */
.main_visual { 
    height: calc(100vh - 100px);
    position: relative;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

}
.main_visual .inner p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 25px;
    margin-bottom: 10px;    
    
}
.main_visual .inner h2 {
    font-size: 70px;
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* .cont01 영상편집 */
.cont01 {
    padding: 200px 0;
}
.cont01  .motion_menu {
    display: inline-block;
}
.cont01  .motion_menu ul {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #eee;
    color: #1b2e4b;
    font-weight : bold;
    height: 50px;
    border-radius: 10px;
    border: 4px solid #02a5f3;
}
.cont01  .motion_menu ul li {
    padding: 1px 35px;
    font-size: 17px;
    cursor: pointer;
}
.cont01  .motion_menu ul li.on {
    background-color: #fff1b9;
    color: #1b2e4b;
    border: 4px solid #02a5f3;
    line-height: 40px;
    border-radius: 10px;
}
/* .cont01  .motion_menu ul li.on (.on 띄어 쓰기 하면 아래있는 에게 가라는 뜻 붙여서 써야함)  */
.cont01{
    background-color: #1b2e4b;
color: #fff;
}
.cont01 .mySwiper {
display: none;}
.cont01 .mySwiper.on {display: block;}

.cont01 .mySwiper .item {
    background-color: #1b2e4b;
    display: flex;
    justify-content: space-between;
}
.cont01 .mySwiper .item .pc_youtube {
    width: 55%;
    position: relative;
}
.cont01 .mySwiper .item .pc_youtube img {
    height: auto;
}
.cont01 .mySwiper .item .pc_youtube .youtube {
    position: absolute;
    top: 23px;
    left: 26px;
    width: 94%;
}
.cont01 .mySwiper .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.cont01 .mySwiper .item .pc_youtube .youtube > div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.cont01 .mySwiper .item .info {
    width: 45%;
    text-align: left;
    padding-left: 50px;
}
.cont01 .mySwiper .item .info > strong {
    display: block;
    margin-bottom: 20px;

}
.cont01 .mySwiper .item .info h4 {
    font-size: 34px;
}
.cont01 .mySwiper .item .info p {
    font-size: 20px;
    border-top: 3px solid #fff1b9;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 1.4;
}

.cont01 .mySwiper .item .info .text{
    margin: 20px 0 30px;
}
.cont01 .mySwiper .item .info .text li {
    line-height: 1.6;
}
.cont01 .mySwiper .item .info .text li strong {}

.cont01 .mySwiper .item .info .btn {
    display: flex;

}
.cont01 .mySwiper .item .info .btn li {
    height: 55px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: bolder;
    border: 4px solid #02a5f3;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;
    background-color: #fff;
    color: #1b2e4b;
    margin-right: 10px;
}
.cont01 .mySwiper .item .info .btn li a {
    padding: 0 25px;
}
.cont01 .mySwiper .item .info .btn li :nth-of-type(2) {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}


/* .cont03 웹사이트 */

.cont03 {
    /* width: calc(100% - 300px);
    margin: 200px auto; */
    background-color: #1b2e4b;
    color: #fff;
    padding: 200px 0;
}
.cont03 .list {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 123px;

}
.cont03 .list .item {
    margin: 0 10px;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.list .m3{
    position: absolute;
    top: -50px;
    left: -42px;
}
.list .m2{
    position: absolute;
    bottom: -53px;
    right: -44px;
}
.cont03 .list .item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.571);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: 0.5s;
}
.cont03 .list .item:hover::before {
    bottom: 0;
}
.cont03 .list .item:hover .info {
    background-color: transparent;
    color: #fff;
}
.cont03 .list .item:hover .info a {
    color: #333;
}
.cont03 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .list .item .info {
    width: 100%;
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    color: #1b2e4b;
    padding: 50px;
    word-break: keep-all;
}
.cont03 .list .item .info h4 {
    font-size: 30px;

}
.cont03 .list .item .info p {
    margin: 7px 0 20px;
    line-height: 1.4;
}
.cont03 .list .item .info .text li {
    margin: 5px 0;
}
.cont03 .list .item .info .btn {
    display: flex;
    margin-top: 40px;
}
.cont03 .list .item .info .btn li{
    margin-right: 10px;
    background-color: #eee;
    border: 3px solid #02a5f3;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;

}
.cont03 .list .item .info .btn li a {
    height: 45px;
    padding: 0 40px;
    display: block;
    line-height: 45px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 40px;
}

/* cont04 그래픽디자인 */
.cont04 {
    background-color: #1b2e4b;
    color: #fff;
    padding: 200px 0;
}
.cont04 .title {
    text-align: center;
}
.cont04 .title h3 {
    margin-bottom: 20px;
}
.cont04 .inner {margin: 0 auto;}

.cont04 .list01 {
    text-align: center;
}
.cont04 .list01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.cont04 .list01 a {
    width: 19%;
}
.cont04 .list01 a img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    
}
.cont04 .list01 a .info {
    background-color: #fff;
    color: #333;
    padding: 20px 10px;
    margin-bottom: 70px;
}
.cont04 .list01 a .info h4 {
    font-size: 20px;
    margin-bottom: 7px;
}
.cont04 .list01 a .info p {}

/* cont05 나의소개 */
.cont05 {
    padding: 200px 0;
    background-color: #1b2e4b;
    color: #fff;
}
.cont05 .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont05 .info .m1 {
    width: 480px;
    height: 480px;
    position: relative;
}
.cont05 .info .info_img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont05 .info .info_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont05 .info .info_c1 {
    width: 480px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
      
}
.cont05 .info .info_c1 img {
    width: 95%;
    height: 95%;
    object-fit: cover;

    z-index: 2;
    
}
.cont05 .info .text {
    width: 1000px;
    padding: 100px;
    background-color: #1b2e4b;
    color: #fff;
}
.cont05 .info .text ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.cont05 .info .text ul li {
    line-height: 1.5; /* 글자간격 */
    
}
.cont05 .info .text ul li strong {
    font-weight: bolder;
    font-size: 24px;
}

.cont05 .info .text ul li p {
    display: block;
}
.cont05 .info .text img {

}
.cont05 .info .text .text_2 {
    display: flex;
    justify-content: space-between;
}
/* .cont05 .info .text ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
} */
/* .cont05 .info .text ul li {
    line-height: 1.4; /* 글자간격 */

/* .cont05 .info .text ul li strong {
    display: inline-block;
    width: 180px;
} */

.cont05 .info .text .list {
    margin-top: 50px;
}
.cont05 .info .text .list li {
    height: 50px;
    line-height: 42px;
    padding: 0 23px;
    background-color: #eee;
    color: #1b2e4b;
    border: 3px solid #02a5f3;
    border-radius: 11px;
    margin: 8px 7px;
    font-size: 17px;
    font-weight: bolder;
}
.cont05 .info .text .list li.v {
    background-color: #fff1b9;
    color: #1b2e4b;
}

.cont05 .info_c1 {animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

/* footer */
/* 푸터는 점. 뺴고 작성 */
footer {
    padding: 70px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer ul {
    margin-bottom: 50px;
}
footer ul li {
    height: 50px;
    line-height: 50px;
    width: 200px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #1b2e4b;
    margin: 10px auto;
    border-radius: 10px;
    border: 4px solid #02a5f3;
    

}
footer ul li a {
    display: block;
    font-weight: bolder;
}
footer p {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.801);
    line-height: 1.4;
}