@charset "utf-8";

@import url( http://fonts.googleapis.com/earlyaccess/notosanskr.css); /*노토산스*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit; /*부모가 가진 생상을 상속 받는거*/
}
body {
    line-height: 1;
    color: #333;
    font-family: 'Noto Sans KR';
    font-weight: 400; /*위에 폰트 가져온거*/
}

header {
    width: 1920px;
    height: 111px;
}
header .white {
    width: 100%;
    height: 64px;
    background-color: #fff;
    padding: 14px 790px 0;
}
.white img {
    margin: 0 auto;
    
}
header .m004e70 {
    width: 100%;
    height: 48px;
    background-color: #004e70;
    color: #fff;
    display: block;
    
}
header .m004e70 .m004e70_2{
    margin: 0 auto;
    width: 1480px;
}
header .m004e70 .m004e70_2 ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    line-height: 48px;
}





/* 두번째 사진 */
.contents .main {
    margin-bottom: 61px;
}

/* 메인사진 */
.mySwiper {
    width: 1480px;
    height: 695px;
}

.swiper-wrapper {
    margin: 0 auto ;
}
.swiper-wrapper .swiper-slide .item .pc_youtube img {
    width: 100%;
    height: 100%;
}

/* 관람 요금 */

.inner_time {
    width: 1920px;
    height: 1181px;  
}
.inner_time .title_v1 {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 54px;
    color: #004e70;
    margin-top: 55px;
    margin-bottom: 95px;
}/* 관람시간 */

.inner_time .title01 {
    width: 1480px;
    height: 227px;
   
    margin: 0 auto;
}
.inner_time .title01 .b1 {
    height: 25px;
    margin-top: 50px;
    margin-top: 158px;
}
.inner_time .title01 .b1 p {
    height: 25px;
}
.inner_time .title01 .b1 p span {
    color: #004e70;
    font-size: 10px;
}
.inner_time .title01 .list01 {
    width: 1480px;
    height: 60px;
    background-color: #004e70; 
    
}
.inner_time .title01 .list01 .item01 {
  color: #fff;
  font-size: 24px;
  width: 1480px;
 margin: 0 auto;

}
.inner_time .title01 .list01 .item01 ul {
   display: flex;
   justify-content: space-between;
   align-items: center; 
}

.inner_time .title01 .list01 .item01 ul li {
    height: 60px;
    text-align: center;
    width: calc(100%/4);
    line-height: 60px;
}
.inner_time .title01 .list01 .item01 ul li:last-child {
    width: 512px;
}
.inner_time .itemc0 {
    width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: thick solid #004F70;
    font-weight: 600;
}
.inner_time .itemc0 .item02 {
    height: 143px;
    /* background-color: #f8e57f; */
    border-right: thick solid #004F70;
}
.inner_time .itemc0 .item02 .c1 {
  /*   background-color: aqua; */
    width: 1014px;
    height: calc(100%/2);
    border-bottom: thick solid #004F70;
}

.inner_time .itemc0 .item02 ul {
    width: 1014px;
    height: calc(100%/2);
    display: flex;
    align-items: center;
}
.inner_time .itemc0 .item02 ul li{
    width: calc(100%/3);
    text-align: center;
}

.inner_time .itemc0 .item03 ul {
    margin-right: 147px;    
    text-align: center;
}
/*이용요금*/
.inner_time .title_v2 {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 54px;
    color: #004e70;
    margin-top: 55px;
    margin-bottom: 95px;
}
/* 표 */
.inner_time .title02 {
    width: 1480px;
    height: 227px;
   
    margin: 0 auto;
}
.inner_time .title02 .list02 {
    width: 1480px;
    height: 60px;
    background-color: #004e70; 
    
}
.inner_time .title02 .list02 .item03 {
    color: #fff;
    font-size: 24px;
    width: 1480px;
   margin: 0 auto;
}
  .inner_time .title02 .list02 .item03 ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
 .inner_time .title02 .list02 .item03 ul li {
    height: 60px;
    text-align: center;
    width: calc(100%/4);
    line-height: 60px;
}
.inner_time .title02 .list02 .item03 ul li :last-child {
    width: 512px;
}
.inner_time .itemc02 .item04 {
    height: 282px;
    font-weight: 600;
   /*  background-color: #f8e57f; */
    border-bottom: thick solid #004F70;
}
.inner_time .itemc02 .item04 .c3 {
   /*  background-color: aqua; */
    width: 1480px;
    height: calc(100%/3);
    border-bottom: thick solid #004F70;
}
.inner_time .itemc02 .item04 ul {
    width: 1480px;
    height: calc(100%/2);
    display: flex;
    align-items: center;
}
.inner_time .itemc02 .item04 ul li{
    width: calc(100%/3);
    text-align: center;
}
/* 표 버튼 */
.inner_time .list02 .b2 {
    margin-top: 15px;
    display: flex;
}
.inner_time .list02 .b2 p {
    height: 25px;
}
.inner_time .list02 .b2 p span {
    color: #004e70;
    font-size: 10px;
}
.inner_time .list02 .b2 .btnWrap {
    width: 288px;
    height: 61px;
    background-color: #004e70;
    color: #fff;
    border-radius: 15px;
    font-size: 23px;
    margin-left: 1013px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* 무민 굿즈 */
.shop {
    margin-top: 191px;
    width: 1920px;
    height: 1385px;
}
.shop .gift  {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 54px;
    color: #004e70;
    
}

.shop .gift h1 {
    margin-bottom: 200px;
}
.shop .do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
.shop .do .item5 {
    height: 640px;
    text-align: center;
}
.shop .do .item5 img {
    margin-bottom: 26px;
}
.shop .do .item5_2 {
    height: 640px;
    text-align: center;
}
.shop .do .item5_2 img {
    margin-bottom: 26px;
}
.shop .do .item5 div  {
    font-size: 26px;
    color: #004e70;
    
}
.shop .do .item5_2 div {
    font-size: 26px;
    color: #004e70;
    
}
.shop .do .item5 p {
    margin-top: 24px;
}
.shop .do .item5_2 p {
    margin-top: 24px;
}





/* 카페 */

.moomin_cafe {
    width: 1920px;
    height: 1024px;
    background-color: #f8e57f;
}
.moomin_cafe .list {
    height: 179px;
    width: 1480px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.moomin_cafe .list h1 {
    
    color: #ffae00;
    font-size: 53px;
    
}
.moomin_cafe .box {
    width: 1480px;
    height: 687px;
    background-color: #ffae00;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}
.moomin_cafe .box .item6 img {
    margin-bottom: 50px;
}
.moomin_cafe .box .item6 strong {
    margin-bottom: 46px;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.moomin_cafe .box .item6 p {
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}


/* 오시는 길 */

.map {
    width: 1920px;
    height: 890px;
    background-color: #64d5e2;
    position: relative;
}
.map .map_box {
    position: relative;
    width: 1480px;
    margin: 0 0 0 178px;
}
.map .map_box .map_m {
    font-size: 53px;
    
}
.map .map_box .map_m h4{
    padding: 77px 0 0 63px;;
}
 .map_m {
    display: block;
    color: #fff;
}
.con {
    margin-top: 283px;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
}
.con .co1 {
    margin-left: 30px;
    width: 159px;
    height: 225px;
    transform: scaleX(-1);
}
.con .co2 {
    width: 435px;
    height: 502px;
    transform: scaleX(-1);
    margin-right: -23px;
}
.con2 {
    position: absolute;
    right: 178px;
    top: 295px;
}
.con2 .item7 {
    color: #fff;
}
.con2 .item7 strong {
    margin-bottom: 17px;
    display: block;
    font-size: 25px;
}
.con2 .item7 p {
    margin-bottom: 34px;
    font-size: 20px;
}
.moo_map {
    margin: 200px 0;
    position: absolute;
    top: -31px;
    left: 200px;
    box-sizing : content-box;
}
.moo_map iframe {
    border-radius: 15px;
}


/* 무민에 대해서 더알아볼까? */
.tobe_yanson {
    width: 1920px;
    height: 932px;
    background-color: #85f4d6;
}
.tobe_yanson .yanson {
    margin: 41px  801px;
    width: 358px;
    height: 75px;
    background-color: #f8e57f;
    color: #fff;
    font-size: 31px;
   display: flex;
   justify-content: center;
   align-items: center;

}


/*footer*/
footer {
    width: 1920px;
    height: 460px;
    background-color: #004e70;
}
.footer{
    display: block;
    color: #fff;
   font-size: 20px;
   
    
}
.footer .cont01 {
    width: 1480px;
    margin: -90px auto 0;
}
.footer .cont01 .mo {
    padding: 100px 0 0 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 89px;
    text-align: center;
}

/* 밈블 */
.footer .cont01 .mo .mim {
    width: 189px;
    height: 226px;
}

.footer .cont01 .mo .mim .mim2 {
    width: 100%;
}
.footer .cont01 .mo .mim .mim2 img {
    width: 100%;
    object-fit: cover;
}
/*  글자 */
.footer .cont01 .mo ul {
margin-top: 46px;

}
.footer .cont01 .mo li{
    margin-bottom: 8px;
   
}

.footer .cont01 .mo .FOLLOW_MOOMIN img {
    width: 49px;
    height: 48px;
    
}
.footer .cont01 .mo .FOLLOW_MOOMIN div {
    display: flex;
    justify-content: space-between;
    padding: 0 41px 41px ;
}
